*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: lightcoral;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 410px;
    gap: 20px;
}

.form input{
    background-color: lightgoldenrodyellow;
    color: black;
}
.form textarea{
    background-color: lightgoldenrodyellow;
    color: black;
}

